.tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 0 2px #FB5, 0 0 0 6px rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: .5rem;
    font-family: 'IMB Plex Mono', monospace;
    font-weight: bold;
    font-size: .875rem;
    z-index: 500;
    max-width: 150px;
    border-radius: 2px;
    top: 0px;
    left: 0px;
}